<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Antigua Burger</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <table class="table">
                        <tr>
                            <td>Orden:</td>
                            <td>025</td>
                        </tr>
                        <tr>
                            <td>Cajero:</td>
                            <td>Juan Perez(jperez)</td>
                        </tr>
                        <tr>
                            <td>Fecha/hora:</td>
                            <td>8jun/2020 9:10:00 AM</td>
                        </tr>
                        <tr>
                            <td>Cliente:</td>
                            <td>Maria Lopez</td>
                        </tr>
                        <tr>
                            <td>NIT:</td>
                            <td>5468489-4</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-8">
                    <div class ="row">
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                                Generar TXT
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                                Generar CSV
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                                Generar JSON
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                                Generar HTML
                            </button>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Desayuno1</h2> 
            <div class="row">
                <div class="col-lg-4">
                    <table class="table">
                        <tr>
                            <td>Huevos: revuelos</td>
                        </tr>
                        <tr>
                            <td>Frijoles: volteados</td>
                        </tr>
                        <tr>
                            <td>Platanos: fritos</td>
                        </tr>
                        <tr>
                            <td>pan: tostado</td>
                        </tr>
                        <tr>
                            <td> bebida: jugo</td>
                        </tr>
                    </table> 
                </div>
                <div class="col-lg-8">
                </div>
            </div>
        </div>        
        <div class="container">
            <h2>Extras</h2>
            <div class="row">
                <div class="col-lg-4">
                    <table class="table">
                        <tr>
                            <td>crema</td>
                        </tr>
                        <tr>
                            <td>queso</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>       
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <table class="table">
                        <tr>
                            <td>Total</td>
                            <td>31</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
